section.home{
    display: flex;
    flex-direction: column;
   
}

section.conteúdo{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40%;
    height: 500px;
    line-height: 1.5;    
    text-align: center;
    font-size: 2em;
}

section.formulário{
    display: flex;
    justify-content: center;
}

label{
    display: block;
}

.formTitle{
    font-size: 2em;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
}

@media (min-width: 1024px){
    section.home{
      flex-direction: row;
      min-height: 600px;
    }

    section.conteúdo{
        align-items: center;
        width: 50%;
    }
  }

  @media (min-width: 1074px){
    section.conteúdo{
       padding: 40px;
  }
}
  