@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to top, #583580, #653e87, #72488f, #7f5296, #8b5c9e, #8b67a9, #8b72b3, #8b7dbd, #7e8bc8, #7298ce, #6ba3d1, #6baed1);
}

main{
    margin-top: 40px;
    
}

section{
    padding: 10px;
}