section.home{
    display: flex;
    flex-direction: column;
}

section.conteúdo{
    display: flex;
    justify-content: center;
    min-width: 40%;
    height: 500px;
}

section.formulário{
    display: flex;
    justify-content: center;
}

@media (min-width: 1024px){
    section.home{
      flex-direction: row;
      min-height: 600px;
    }

    section.conteúdo{
        align-items: center;
        width: 50%;
    }
  }