  .logotipo{
    height: 40px;
    padding: 10px 20px;
  }

  .jobsNet{
    display: flex;
    align-items: center;
    font-weight: 700;
  }
  
  .navbar-fixed{
    background-color: #6badd1a8;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
  }
  
  .navbar-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 25px;    
    font-size: 2em;
  }
  
  
  footer{
    background-color: #58358088;
    height: 50px;
    margin-top: auto;  
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 0;
    width: 100%;
  }
  
  @media (max-width: 440px){
    .navbar-content{
      flex-direction: column;
    }
  }
  
  @media (min-width: 440px){
    .jobsNet{
      margin-left: 40px;
    }
  }
  
